.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  padding-bottom: 3rem;

  .card {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .buttonWrapper {
    display: flex;
  }
}
